# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build*/
.vscode/
media/
*.tlog
**/Debug
CMakeCache.txt
**/CMakeFiles
**/cmake_install.cmake
#**/spirv/*.bin
**/dxil/*.bin
**/dxbc/*.bin
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.gitattributes
.vs/vrenderer/*/.suo
/.vs
media
**/*_d3d11.dir/*
**/*_d3d12.dir/*
**/*_vk.dir/*
**/Release/*

bin/
.vs
nvapi/
/donut-*